src/main/mule/net-tools.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
  xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <flow name="ui">
    <http:listener
      doc:name="Listener"
      config-ref="https"
      path="/*"
      outputMimeType="text/html" />
    <http:basic-security-filter
      doc:name="Basic security filter"
      realm="mule" />
    <spring:authorization-filter
      requiredAuthorities="ROLE_ADMIN" />
    <ee:transform doc:name="Transform Message">
      <ee:message>
        <ee:set-payload resource="dwl/setWebResourcePayload.dwl" />
      </ee:message>
      <ee:variables>
        <ee:set-variable
          resource="dwl/setWebResourceMimeType.dwl"
          variableName="mimeType" />
      </ee:variables>
    </ee:transform>
    <choice doc:name="Which MIME type?">
      <when expression='#[vars.mimeType == "css"]'>
        <set-payload
          value="#[payload]"
          doc:name="Set MIME type as CSS"
          mimeType="text/css" />
      </when>
      <when expression='#[vars.mimeType == "js"]'>
        <set-payload
          value="#[payload]"
          doc:name="Set MIME type as JavaScript"

          mimeType="application/javascript" />
      </when>
      <otherwise>
        <set-payload
          value="#[payload]"
          doc:name="Set MIME type as HTML"
          mimeType="text/html" />
      </otherwise>
    </choice>
  </flow>
  <flow name="net-tools-main">
    <http:listener
      config-ref="https"
      path="/api/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <http:basic-security-filter
      doc:name="Basic security filter"
      realm="mule" />
    <logger
      level="INFO"
      message='#["$(attributes.scheme default "") $(attributes.method default "") $(attributes.requestUri default "")"]'
      doc:name="Log Endpoint" />
    <apikit:router config-ref="net-tools-config" />
    <error-handler>
      <on-error-propagate type="APIKIT:BAD_REQUEST">
        <ee:transform
          xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
          xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">400
            </ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_FOUND">
        <ee:transform
          xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
          xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">404
            </ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
        <ee:transform
          xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
          xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">405
            </ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
        <ee:transform
          xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
          xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">406
            </ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
        <ee:transform
          xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
          xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">415
            </ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
        <ee:transform
          xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
          xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">501
            </ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
    </error-handler>
  </flow>
  <flow name="get:\curl:net-tools-config">
    <ee:transform doc:name="Transform Message">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
import java!com::mulesoft::tool::network::NetworkUtils
---
NetworkUtils::curl(attributes.queryParams.url, attributes.queryParams.*header default [], attributes.queryParams.insecure as Boolean)]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="post:\curl:text\plain:net-tools-config">
    <ee:transform doc:name="Transform Message">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
import java!com::mulesoft::tool::network::NetworkUtils
---
NetworkUtils::curl(attributes.queryParams.url, attributes.queryParams.*header default [], attributes.queryParams.insecure as Boolean, payload)]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="get:\dns:net-tools-config">
    <ee:transform
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
import java!com::mulesoft::tool::network::NetworkUtils
---
NetworkUtils::resolveIPs(attributes.queryParams.host, attributes.queryParams.dnsServer default "")]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="get:\ping:net-tools-config">
    <ee:transform doc:name="Transform Message">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
import java!com::mulesoft::tool::network::NetworkUtils
---
NetworkUtils::ping(attributes.queryParams.host)]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="get:\socket:net-tools-config">
    <ee:transform
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
import java!com::mulesoft::tool::network::NetworkUtils
---
NetworkUtils::testConnect(attributes.queryParams.host, attributes.queryParams.port)]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="get:\certest:net-tools-config">
    <ee:transform doc:name="Transform Message">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
import java!com::mulesoft::tool::network::NetworkUtils
---
NetworkUtils::certest(attributes.queryParams.host, attributes.queryParams.port)]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="get:\ciphertest:net-tools-config">
    <ee:transform doc:name="Transform Message">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
import java!com::mulesoft::tool::network::NetworkUtils
---
NetworkUtils::cipherTest(attributes.queryParams.host, attributes.queryParams.port)]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="get:\traceroute:net-tools-config">
    <ee:transform
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
import java!com::mulesoft::tool::network::NetworkUtils
---
NetworkUtils::traceRoute(attributes.queryParams.host)]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
</mule>
